ul.data-list {
  width: 15%;
  margin-left: 40%;
}
.display {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.display-image {
  width: 7rem;
  margin: 1rem;
}
::marker {
  color: rgb(61, 61, 248);
  font-size: 1.2em;
}
span:hover {
  cursor: pointer;
}
